html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "黑体";
  overflow: hidden;
}

.header {
  width: 100%;
  min-width: 1000px;
  height: 119px;
  background-image: url(../image/zhdd_banner.jpg);
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

.logo {
  width: 710px;
  height: 105px;
  margin-left: 5px;
  float: left;
  margin-top:7px;
}

.nav {
  width: 427px;
  height: 68px;
  line-height: 44px;
  font-size: 20px;
  float: right;
    margin-right: 25px;
    margin-top:40px;
  white-space: nowrap;
    position:relative;
    margin-left: -300px;
}
.nav div{
  display: inline-block;
  width: 48px;
  text-align:center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}


.userinfo{
    width: 215px;
    height: 119px;
    float: right;
    margin-right: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.userinfo .text{
    display: inline-block;
    width: 131px;
    height: 75px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 26px;
}
.userinfo .userimg{
    width: 70px;
    height: 70px;
    display: inline-block;
    padding-top: 0;
}

.logout {
  width: 100px;
  height: 85px;
  margin-top: 18px;
  float: right;
  border-left: 1px solid #dbebf7;
}

.logout img {
  width: 40px;
  height: 40px;
  margin-top: 19px;
  margin-left: 28px;
  cursor: pointer;
}

.userinfo .usericon {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #fff;
}

.userinfo .text b {
  font-size: 17px;
  font-weight: 400;
}
.underline{
  height: 44px;
  display: inline-block;
  border-bottom:1px solid #fff;
}
.div{
	outline: 1px solid #f00;
}
h2{
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
	font-family: "黑体";
	text-align: left;
	width: 291px;
	margin: 20px auto;
	display: flex;
	align-items: center;
	color: #3f98f6;
}
h4{
	font-size: 18px;
	font-family: "黑体";
	font-weight: 600;
	text-align: center; 
	line-height: 0;
}
/*main*/
.main{
	width: 100%;
}
.main table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}
.main table tr,.main table td{
	text-align: center;
	line-height: 20px;
	margin:0;
	padding: 0;
}
.main table tr td h2 div{
	width: 6px;
	height: 26px;
	background-color: #3f98f6;
    overflow: hidden;
    display: inline-block;
    margin-right: 7px;
}
.right_line{
	border-right: 1px solid #cccccc;
}
.bottom_line{
	border-bottom: 1px solid #cccccc;
}
.bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 95.4%;
	margin: 0 auto;
}
.bottom_line2{
	border-bottom: 1px solid #cccccc;
	width: 94.2%;
	float: right;
	margin-bottom: 21px;
}
@media screen and (max-width: 2000px) {
    .bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 95.6%;
	margin: 0 auto;
}
}

@media screen and (max-width: 1800px) {
    .bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 95.6%;
	margin: 0 auto;
}
.bottom_line2{
	border-bottom: 1px solid #cccccc;
	width: 94.2%;
	float: right;
	margin-bottom: 21px;
}
}

@media screen and (max-width: 1700px) {
    .bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 97.5%;
	margin: 0 auto;
}
.bottom_line2{
	border-bottom: 1px solid #cccccc;
	width: 97%;
	float: right;
	margin-bottom: 21px;
}
}

@media screen and (max-width: 1600px) {
    .bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 98%;
	margin: 0 auto;
}
}

@media screen and (max-width: 1500px) {
    .bottom_line1{
	border-bottom: 1px solid #cccccc;
	width: 99%;
	margin: 0 auto;
}
}

td img{
	width: 180px;
}