<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--下发指令表映射文件-->
<mapper namespace="com.sinosoft.wateradmin.cmd.dao.IInstructionIssuedDAO">
    <resultMap id="BaseResultMap" type="com.sinosoft.wateradmin.cmd.bean.InstructionIssued">
        <id column="II_ID" property="iiId" jdbcType="INTEGER"/>
        <result column="SA_ID" property="saId" jdbcType="INTEGER"/>
        <result column="II_CONTENT" property="iiContent" jdbcType="VARCHAR"/>
        <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="II_PRIORITY_LEVEL" property="iiPriorityLevel" jdbcType="VARCHAR"/>
        <result column="II_OPERATOR" property="iiOperator" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    II_ID, SA_ID, II_CONTENT, SEND_TIME, II_PRIORITY_LEVEL, II_OPERATOR
  </sql>
    <sql id="Base_Table">
        CMD_INSTRUCTION_ISSUED
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="INTEGER">
        select  <include refid="Base_Column_List"/>   from <include refid="Base_Table"/>
        where II_ID = #{iiId,jdbcType=INTEGER}
    </select>
    <select id="selectDatas" resultMap="BaseResultMap" parameterType="com.sinosoft.wateradmin.cmd.bean.InstructionIssued">
        select <include refid="Base_Column_List"/>  from <include refid="Base_Table"/> where 1=1
        <if test="iiId != null and  iiId !=''">
            and II_ID=#{iiId,jdbcType=INTEGER}
        </if>
        <if test="saId != null and  saId !=''">
            and SA_ID =#{saId,jdbcType=INTEGER}
        </if>
        <if test="startTime != null and  startTime !=''" >
            and SEND_TIME <![CDATA[ >= ]]> TO_DATE(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime != null and  endTime !=''" >
            and SEND_TIME <![CDATA[ <= ]]> TO_DATE(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="remark != null and  remark !=''">
            and II_CONTENT like  CONCAT(CONCAT('%', #{iiContent,jdbcType=VARCHAR}), '%')
        </if>
        <if test="iiPriorityLevel != null and  iiPriorityLevel !=''">
            and II_PRIORITY_LEVEL =#{iiPriorityLevel,jdbcType=VARCHAR}
        </if>
        <if test="iiOperator != null and  iiOperator !=''">
            and II_OPERATOR like  CONCAT(CONCAT('%', #{iiOperator,jdbcType=VARCHAR}), '%')
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="int">
        delete from <include refid="Base_Table"/>
        where II_ID = #{iiId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.sinosoft.wateradmin.cmd.bean.InstructionIssued">
        <selectKey resultType="INTEGER" keyProperty="iiId" order="BEFORE">
            　　　select seq_instructionissued_iiid.nextval from dual
        </selectKey>
        insert into <include refid="Base_Table"/> (  <include refid="Base_Column_List"/>  )
        values (#{iiId,jdbcType=INTEGER}, #{saId,jdbcType=INTEGER}, #{iiContent,jdbcType=VARCHAR},
        #{sendTime,jdbcType=TIMESTAMP}, #{iiPriorityLevel,jdbcType=VARCHAR}, #{iiOperator,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.sinosoft.wateradmin.cmd.bean.InstructionIssued">
        update <include refid="Base_Table"/>
        <set>
            <if test="saId != null and  saId !=''">
                SA_ID = #{saId,jdbcType=INTEGER},
            </if>
            <if test="iiContent != null and  iiContent !=''">
                II_CONTENT = #{iiContent,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null and  sendTime !=''">
                SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="iiPriorityLevel != null and  iiPriorityLevel !=''">
                II_PRIORITY_LEVEL = #{iiPriorityLevel,jdbcType=VARCHAR},
            </if>
            <if test="iiOperator != null and  iiOperator !=''">
                II_OPERATOR = #{iiOperator,jdbcType=VARCHAR},
            </if>
        </set>
        where II_ID = #{iiId,jdbcType=INTEGER}
    </update>

</mapper>